tooltip {
  background-color: $background;
}

.bar {
  background-color: $black;
  @include window;
}

.module {
  @include radius;
  padding: 0 0.6em;
  margin: 6px;
  background-color: $background;
}

.module1 {
  @include radius;
  @include bold-text;
  color: $background;
  font-size: 13px;
  margin: 6px;
  background-color: rgba($blue, 0.8);
  &:hover {
    background-color: rgba($blue, 0.9);
  }
}

.module2 {
  @include radius;
  font-weight: bold;
  padding: 0 0.9em 0 0.6em;
  color: $background;
  font-size: 13px;
  margin: 6px;
  background-color: rgba($blue, 0.8);
  &:hover {
    background-color: rgba($blue, 0.9);
  }
}

.inactive {
  padding: 0 0.6em;
  margin: 6px;
}

.text {
  @include bold-text;
  font-size: 13px;
  color: $foreground;
}

.inactivetext {
  @include bold-text;
  font-size: 14px;
  color: $gray;
}

.icon {
  @include event-icon;
  font-size: 15px;
}

.iconsmall {
  @include event-icon;
  font-size: 15px;
}
