.calendar-win {
  @include window;
  background-color: $base00;
  color: $xcolor15;
  padding: 0.2em;
}

calendar {
  padding: 4px;
  font-size: 14px;
  font-weight: bold;

  :selected {
    border-radius: 6px;
    color: $xcolor0;
    background: $xcolor4;
  }

  .header {
    color: $xcolor4;
    font-size: 14px;
    font-weight: bold;
  }

  .highlight {
    color: $xcolor4;
    font-size: 16px;
    font-weight: bold;
  }

  .button {
    color: $xcolor15;
  }

  :indeterminate {
    color: $xcolor7;
  }
}
