.calendar-win {
  @include window;
  background-color: $black;
  color: $foreground;
  padding: 0.2em;
}

calendar {
  padding: 4px;
  font-size: 14px;
  font-weight: bold;

  :selected {
    border-radius: 6px;
    color: $background;
    background: $blue;
  }

  .header {
    color: $blue;
    font-size: 14px;
    font-weight: bold;
  }

  .highlight {
    color: $blue;
    font-size: 16px;
    font-weight: bold;
  }

  .button {
    color: $foreground;
  }

  :indeterminate {
    color: $gray;
  }
}
