.dashboard {
  all: initial;
  border: 1px solid $black;
  border-radius: 8px;
  box-shadow: 5px 4px 3px 0px rgba(#010203, 0.6);
  margin: 5px 5px;
  background-color: $black;
}

.dashboard_module1 {
  padding: 1em;
  border-radius: 6px;
  background-color: $background;
}

.dashboard_module2 {
  border-radius: 6px;
  background-color: $background;
}

.dashboard_button {
  padding: 0.6em;
  border-radius: 6px;
  background-color: $black;

  &:hover {
    background-color: rgba($brightblue, 0.4);
  }
}

.dashtitle {
  padding: 0 0.6em;
  font-size: 18px;
  font-weight: bold;
  color: $brightblue;
}

.pfp {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 1em;
  min-height: 96px;
  min-width: 96px;
}

.shutdown,
.reboot,
.lock,
.suspend,
.logout {
  color: $foreground;
  font-size: 17px;
  padding: 0.5em 0.7em;
  border-radius: 8px;
  background-color: $selection;
  font-weight: bold;

  &:hover {
    background-color: rgba($brightblue, 0.4);
  }
}
