scale trough {
  all: unset;
  background-color: $base01;
  box-shadow: 0 2px 3px 2px $base00;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 5px 0px 10px;
}

.slider trough highlight {
  background-image: linear-gradient(
    to right,
    rgba($xcolor4, 1) 30%,
    rgba($xcolor12, 1) 50%,
    rgba($xcolor4, 1) 100% * 50,
  );
  border-radius: 10px;
}
