.workspace {
  font-size: 14px;
  color: $xcolor7;
  padding: 0 0.6em;
  margin: 6px;
  border-radius: 6px;
  background-color: $xcolor0;
}

.0,
.01,
.02,
.03,
.04,
.05,
.06,
.07,
.08,
.09,
.011,
.022,
.033,
.044,
.055,
.066,
.077,
.088,
.099 {
  padding: 6px 10px 6px 8px;
  margin-right: 4px;
}

/* Unoccupied */
.0 {
  color: $xcolor7;
}

/* Occupied */
.01,
.02,
.03,
.04,
.05,
.06,
.07,
.08,
.09 {
  color: $xcolor15;
}

/* Focused */
.011,
.022,
.033,
.044,
.055,
.066,
.077,
.088,
.099 {
  color: $xcolor15;
  background-color: rgba($xcolor4, 0.8);
  border-radius: 6px;
}
