@import "./colors.scss";

@mixin rounding {
  border-radius: 8px;
}

@mixin window {
  border: 1px solid $xcolor0;
  box-shadow: 0 2px 3px $base00;
  margin: 5px 5px 10px;
  @include rounding;
}

* {
  all: unset;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.68);
  font-family: Roboto, RobotoMono Nerd Font;
}

@import "css/calendar";
@import "css/workspaces";
@import "css/music";
@import "css/volbar";

tooltip {
  background-color: $xcolor0;
}

.bar {
  background-color: $base00;
}

.module {
  padding: 0 0.6em;
  margin: 4px;
  border-radius: 6px;
  background-color: $xcolor0;
}

.text {
  padding: 0 0.4em;
  font-size: 13px;
  font-weight: bold;
  color: $xcolor15;
}
.text:hover {
  padding: 0 0.4em;
  font-size: 13px;
  font-weight: bold;
  color: $xcolor12;
}

.icon {
  padding: 0 0.4em;
  font-size: 15px;
  font-weight: bold;
  color: $xcolor15;
}
.icon:hover {
  padding: 0 0.4em;
  font-size: 15px;
  font-weight: bold;
  color: $xcolor12;
}
