* {
  all: unset;
  transition: all 640ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  font-family: Roboto, RobotoMono Nerd Font;
}

@import "./colors.scss";

@mixin radius {
  border-radius: 6px;
}

@mixin window {
  border: 1px solid $xcolor0;
  box-shadow: 5px 4px 3px 0px rgba(#010203, 0.6);
  margin: 5px 5px 10px;
  border-radius: 8px;
}

@mixin bold-text {
  padding: 0 0.6em;
  font-weight: bold;
}

@mixin event-icon {
  @include bold-text;
  color: $xcolor15;

  &:hover {
    border-bottom: 3px solid;
    border-color: $xcolor4;
  }
}

@import "css/bar";
@import "css/calendar";
@import "css/workspaces";
@import "css/music";
@import "css/volbar";
@import "css/dashboard";
