$base00: nixc00;
$base01: nixc01;
$base02: nixc02;
$base03: nixc03;
$base04: nixc04;
$base05: nixc05;
$base06: nixc06;
$base07: nixc07;
$base08: nixc08;
$base09: nixc09;
$base0A: nixc0A;
$base0B: nixc0B;
$base0C: nixc0C;
$base0D: nixc0D;
$base0E: nixc0E;
$base0F: nixc0F;
$xcolor0: nixcx00;
$xcolor8: nixcx08;
$xcolor1: nixcx01;
$xcolor9: nixcx09;
$xcolor2: nixcx02;
$xcolor10: nixcx10;
$xcolor3: nixcx03;
$xcolor11: nixcx11;
$xcolor4: nixcx04;
$xcolor12: nixcx12;
$xcolor5: nixcx05;
$xcolor13: nixcx13;
$xcolor6: nixcx06;
$xcolor14: nixcx14;
$xcolor7: nixcx07;
$xcolor15: nixcx15;
