$background: backgroundnix;
$foreground: foregroundnix;
$selection: selectionnix;
$black: blacknix;
$red: rednix;
$green: greennix;
$yellow: yellownix;
$blue: bluenix;
$purple: purplenix;
$aqua: aquanix;
$gray: graynix;
$brightblack: brightblacknx;
$brightred: brightrednx;
$brightgreen: brightgreennx;
$brightyellow: brightyellownx;
$brightblue: brightbluenx;
$brightpurple: brightpurplenx;
$brightaqua: brightaquanx;
$brightgray: brightgraynx;
